.col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 43%;
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding:3% 2%;
	margin-top:10px;
}
.dhx_list_item{
    margin-right: -20px;
    margin-left: -5px;
    border: none;
    background-color:#ebebef;
    margin-top:-28px;

}
.row {
    border-style: solid;
    margin-top:22px;
    height:40px;
}
.col-50{
    width:500px;
}
.col{
    width: 500px;
}
.taitem{color: #fbb100}

.bar-header{
    display: none;
}
.padding{
    display: none;
}
.contents{
    margin-top:10px;
}
#date{
    font-size:16px;
    margin-left:5px;
	height:25px;
	line-height:25px;
}
.count{
  display:inline-block;width: 24.5%;margin-left:4%;padding-left:8px;padding-top:4px;background-size:cover !important;
}
#a{
    background-color:#fff;border:0px;  border-radius:4px;width:93%;
}

#message{
   font-size: 20px;
   background-color: #e6e6e6;
}
/*.cont_align{
    display: flex;
    display:-webkit-flex;
    display: -moz-flex;
    display:-ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}*/

